body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(208, 200, 188);
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    width: 65%;
}

#laptop {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid rgb(135, 131, 131);
    background-color: rgba(14, 14, 14, 0.905);
    height: 80%;
    width: 75%;
    position: relative;
    animation-duration: 8s;
    animation-name: moving1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: skew(1deg);
    top: 2rem;
}
#macbookpro {
    position: absolute;
    margin-top: 0;
    margin-bottom: .5rem;
    top: 23.3rem;
    color: rgb(114, 111, 111);
    font-size: 12px;
}

#screen {
    position: relative;
    top: -.26rem;
    height: 90%;
    width: 96%;
    background-image: url('background_img.jpeg');
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    height: 2.5%;
    width: 100%;
    background-color: rgba(225, 221, 221, 0.782);
}

img {
    height: 73%;
    width: 1%;
    margin-left: .35rem;
    margin-bottom: .10rem;
}

.first {
    margin-left: .48rem;
}

.nav-time {
    position: absolute;
    right: 1.5rem;
}

.nav-items {
    font-size: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    height: fit-content;
    width: fit-content;
}

#keyboard {
    height: 80%;
    width: 75%;
    border-radius: 25px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation-duration: 8s;
    animation-name: movingg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: skew(-1deg);
    top: 1.1rem;
    background-color: rgb(135, 131, 131);
}

#mouse-pad {
    position: absolute;
    top: 12rem;
    left: 9rem;
    border-radius: 10px;
    width: 49%;
    height: 49%;
    border: 2px inset black;
}

#row1 {
    width: 90%;
    height: 7%;
    display: flex;
    margin-top: 1rem;
    gap: .1rem;
    flex-direction: row;
}

#row2 {
    width: 90%;
    height: 7%;
    display: flex;
    margin-top: .3rem;
    gap: .1rem;
    flex-direction: row;
}


#row3 {
    width: 90%;
    height: 7%;
    display: flex;
    margin-top: .3rem;
    gap: .1rem;
    flex-direction: row;
}


#row4 {
    width: 90%;
    height: 7%;
    display: flex;
    margin-top: .3rem;
    gap: .1rem;
    flex-direction: row;
}


#row5 {
    width: 90%;
    height: 7%;
    display: flex;
    margin-top: .3rem;
    gap: .1rem;
    flex-direction: row;
}

.act-keys {
    width: 7.59%;
    height: 98%;
    border-radius: 2px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(14, 14, 14, 0.905);
    color: white;
}

#spacebar {
    width: 40%;
}

.shift {
    width: 20%;
}

.Returnkey {
    width: 15%;
}

.tab {
    width: 10%;
}

.let-num {
    margin-top: .4rem;
}

@keyframes moving1 {
    from {
        transform: skew(1deg);
    }
    to {
        transform: skew(50deg);
    }
    from {
        transform: skew(50deg)
    }
    to {
        transform: skew(-50deg);
    }
    
}

@keyframes movingg {
    from {
        transform: skew(-1deg);
    }
    to {
        transform: skew(-50deg);
    }
    from {
        transform: skew(-50deg);
    }
    to {
        transform: skew(50deg);
    }
    
}